<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Edycja przynależności</h2>
        <form class="form">
            <label for="idStudent">Student: <span class="symbol-required">*</span></label>
            <select name="idStudent" id="idStudent" required>
                <option value="">-- Wybierz studenta --</option>
                <option value="1" selected>Jan Kowalski s22888</option>
                <option value="2">Marek Kwiatkowski s22908</option>
            </select>
            <span id="errorIdStudent"></span>

            <label for="idGroup">Grupa: <span class="symbol-required">*</span></label>
            <select name="idGroup" id="idGroup" required>
                <option value="">-- Wybierz grupę --</option>
                <option value="1" selected>2022Z-TIN-19c</option>
                <option value="2">2021L-ASD-19c</option>
            </select>
            <span id="errorIdGroup"></span>

            <label for="ITN">ITN: </label>
            <input type="checkbox" name="ITN" id="ITN" checked>
            <span id="errorITN"></span>

            <label for="grade">Ocena:</label>
            <select name="grade" id="grade">
                <option value="">-- Wybierz ocenę --</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3,5">3.5</option>
                <option value="4">4</option>
                <option value="4,5">4.5</option>
                <option value="5" selected>5</option>
            </select>
            <span id="errorGrade"></span>

            <div class="form-buttons">
                <input type="submit" class="form-buttons-edit" value="Edytuj">
                <a href="/studies" class="form-buttons-cancel">Anuluj</a>
                <p id="errorsSummary"></p>
            </div>
        </form>
    </main>
<%- include('../../fragments/footer.ejs') %>