<%- include('../../fragments/header.ejs') %>    <main>
        <h2>Lista przynależności</h2>
        <p>Brak rekordów do wyświetlenia.</p>
        <p><a href="/studies/add" class="button-add">Dodaj nową przynależność</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>