<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista studentów</h2>
        <p>Brak rekordów do wyświetlenia.</p>
        <p><a href="/students/add" class="button-add">Dodaj nowego studenta</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>