<%- include('./fragments/header.ejs') %>
    <main>
        <h2><%= __('main-page.content')%></h2>
        <p>Aplikacja ta służy do zarządzania danymi o studentach, grupach przedmiotowych oraz przynależnością studentów
        do tych grup. Ma ona ułatwić wgląd do danych takich jak: przynależność studenta do danej grupy przedmiotowej,
        jego ocenach oraz ITNach.</p>
    </main>
<%- include('./fragments/footer.ejs') %>