<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista grup</h2>
        <p>Brak rekordów do wyświetlenia.</p>
        <p><a href="/groups/add" class="button-add">Dodaj nową grupę</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>